@media (min-width: 992px) {
    .menu-container {
        display: none;
    }

    .nav-flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .logo-container img {
        max-width: 15%; /* Adjust the max-width as needed */
      }
      
      .nav-link-container {
        display: flex;
        justify-content: center;
      }
      
      .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }
      
      .nav-links li {
        margin-right: 60px;
        color: $primary-color;
        font-family: $font-family-1;
        font-weight: $font-weight-regular;
        font-size: $mobile-p-size;
      }

      .hero-container {
        .hero-inner-container {
            width: 60%;
        }
      }

      .home-services-container {
        width: 60%;
      }

      .home-workshops-container {
        width: 60%;
        margin-left: 40%;
      }

      .about-container {
        .page-img-styling {
          width: 70%;
        }

        .sub-section {
          width: 70%;
        }
      }

      .confirmation-section {
        padding-top: 23%;
      }

      .contact-container {
        padding-left: 150px;
        padding-right: 150px;
      }

      .service-post-container {
        width: 100%;
        padding: 15px;
        >* {
        width: 50%;
        margin: 0 auto;
      }
      }
}