@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=EB+Garamond:wght@400;700&display=swap');

// Font Families
$font-family-1: 'DM Sans', sans-serif; 
$font-family-2: 'EB Garamond', serif;

// Font Weight 
$font-weight-regular: 400;
$font-weight-bold: 700;

// Mobile Font Sizes
$mobile-h1-size: 32px;
$mobile-h2-size: 40px;
$mobile-h3-size: 16px;
$mobile-h4-size: 20px;
$mobile-h5-size: 20px;
$mobile-h6-size: 28px;
$mobile-p-size: 16px;
